{% load staticfiles %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon</title>
    <link rel="stylesheet" href="{% static 'css_bs/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css_bs/custom.css' %}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
          google.charts.load('current', {'packages':['line']});
          google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

          var data = new google.visualization.DataTable();
          data.addColumn('datetime', 'Date&Time');
          data.addColumn('number', 'Volt');
          data.addColumn('number', 'Amper');
          data.addColumn('number', 'Watt');
          data.addColumn('number', 'Watt/hour');

          data.addRows([
            {% for record in for_charts %}
                [new Date({{ record.dt|date:'Y, n, d, H, m, s' }}), {{ record.volt|unlocalize }}, {{ record.amper|unlocalize }}, {{ record.watt|unlocalize }}, {{ record.watt_hour|unlocalize }}],
            {% endfor %}
          ]);

          var options = {
            chart: {
              title: 'Графік зміни параметрів',
              subtitle: ''
            },
            width: 900,
            height: 500,
            axes: {
              x: {
                0: {side: 'bottom'}
              }
            }
          };

          var chart = new google.charts.Line(document.getElementById('line_top_x'));

          chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <br>
                <div id="accordion">


                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                Останні записи
                                <button class="btn btn-link" style="float: right;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="far fa-square"></i>
                                </button>
                            </h5>

                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Records ID</th>
                                            <th scope="col">Volt</th>
                                            <th scope="col">Amper</th>
                                            <th scope="col">Watt</th>
                                            <th scope="col">Watt/hour</th>
                                            <th scope="col">Date & time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in records %}
                                            <tr>
                                                <th scope="row">{{ record.id }}</th>
                                                <td>{{ record.volt }}</td>
                                                <td>{{ record.amper }}</td>
                                                <td>{{ record.watt }}</td>
                                                <td>{{ record.watt_hour }}</td>
                                                <td>{{ record.dt|date }} &nbsp; {{ record.dt|time:'H:i:s' }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>



            <div class="col-md-12">
                <br><br>
                <hr>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Година</button>
                    <button type="button" class="btn btn-secondary">День</button>
                    <button type="button" class="btn btn-secondary">Тиждень</button>
                </div>
                <hr>
                <div id="line_top_x"></div>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js_bs/bootstrap.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</body>
</html>